/* Defaults */
:root {
	--font-family: Georgia, "Times New Roman", Times, serif;
	--font-family-monospace: Consolas, "Courier New", Courier, monospace;
}

/* Theme colors */
/*:root {*/
/*	--color-gray-20: #e0e0e0;*/
/*	--color-gray-50: #C0C0C0;*/
/*	--color-gray-90: #333;*/

/*	--background-color: #fff;*/

/*	--text-color: var(--color-gray-90);*/
/*	--text-color-link: #082840;*/
/*	--text-color-link-active: #5f2b48;*/
/*	--text-color-link-visited: #17050F;*/

/*	--syntax-tab-size: 2;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
	:root {
		--color-gray-20: #e0e0e0;
		--color-gray-50: #C0C0C0;
		--color-gray-90: #dad8d8;
		--color-gray-200: #b0b0b0;


		--text-color: var(--color-gray-90);
		--text-color-link: #adbcff;
		--text-color-link-active: #c2cfff;
		--text-color-link-visited: #adbcff;

		--background-color: rgb(24,20,23);
	}
/*}*/


/* Global stylesheet */
* {
	box-sizing: border-box;
}

@view-transition {
	navigation: auto;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
}
html {
	overflow-y: scroll;
	font-size: 20px;
}
body {
	max-width: 40em;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Fluid images via https://www.zachleat.com/web/fluid-images/ */
img,
video,
iframe {
    max-width: 100%;
	border-radius: 1em;
	margin-left: 0;
}

picture {
	display: grid;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 2em;
	margin-bottom: 0;
}

@media (min-width: 40em) {
	picture {
		margin-bottom: 2em;
	}
}

@media screen and (min-width: 62em) {
	img,
	video,
	iframe {
		max-height: 90vh;
		max-width: 100vw;
		width: auto;
	}
}
img[width][height] {
  height: auto;
}
img[src$=".svg"] {
  width: 100%;
  height: auto;
  max-width: none;
}

p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

main,
footer {
	padding: 1rem;
}
main :first-child {
	margin-top: 0;
}

header {
	border-bottom: 1px dashed var(--color-gray-20);
}
header:after {
	content: "";
	display: table;
	clear: both;
}

.links-nextprev {
	display: flex;
	justify-content: space-between;
	gap: .5em 1em;
	list-style: "";
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}
.links-nextprev > * {
	flex-grow: 1;
}
.links-nextprev-next {
	text-align: right;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	overflow-x: auto;
}
code {
	word-break: break-all;
}

/* Header */
header {
	display: flex;
	gap: 1em .5em;
	flex-wrap: wrap;
	align-items: center;
	padding: 1em;
}
.home-link {
	font-size: 1em; /* 16px /16 */
	font-weight: 700;
	margin-right: 2em;
}
.home-link:link:not(:hover) {
	text-decoration: none;
}

/* Nav */
.nav {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
	margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

/* Subscribe */
.subscribe-form {
	margin-top: 1.5rem;
}
.subscribe-placeholder {
	padding: 1rem;
	border: 1px dashed var(--color-gray-20);
	border-radius: 0.75rem;
	color: var(--color-gray-200);
	font-style: italic;
}
.subscribe-placeholder p {
	margin: 0;
}

/* Posts list */
.postlist {
	list-style: none;
	padding: 0;
	padding-left: 0;
}

.postlist-item {
	display: flex;
	align-items: flex-start;
	gap: 1em;
	margin-bottom: 2.4em;
}

@media (min-width: 40em) {
	.postlist-item {
		margin-bottom: 1em;
	}
}

.postlist-date {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--color-gray-90);
}
.postlist-description {
  margin: 0.5em 0 0.5em 0;

}
.postlist-date {
	word-spacing: -0.5px;

}
.postlist-link {
	font-size: 1.1875em; /* 19px /16 */
	font-weight: 700;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}
.postlist-thumb {
	display: block;
	flex: 0 1 480px;
	max-width: 480px;
	aspect-ratio: 4 / 3;
	text-decoration: none;
}
.postlist-thumb img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0.5em;
}
.postlist-body {
	flex: 1 1 auto;
	min-width: 0;
	width: 100%;
}
@media screen and (max-width: 40em) {
	.postlist-item {
		flex-wrap: wrap;
	}
	.postlist-thumb {
		flex-basis: 100%;
		max-width: 100%;
		padding: 0;
	}
	.postlist-body {
		flex-basis: 100%;
	}
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 1em;
}
.post-metadata time {
	margin-right: 1em;
}
.post-translation-note {
	margin-top: 2rem;
	font-size: 0.85em;
	color: var(--color-gray-200);
}
.post-translation-note a {
	color: inherit;
}
.post-translation-note a:visited {
	color: inherit;
}
