---js
const eleventyNavigation = {
	key: "archive",
	order: 2,
	title: "nav.archive"
};

const title = "archive.title";
---
<h1>{{ t(title) }}</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
