---js
const eleventyNavigation = {
	key: "home",
	order: 1,
	title: "nav.home"
};

const title = "home.title";

const numberOfLatestPostsToShow = 50;
---
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>{{ t(title) }}</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
{% set archiveLink %}<a href="blog.njk">{{ t("home.archiveLink") }}</a>{% endset %}
<p>{{ t("home.morePosts", { count: morePosts, archiveLink: archiveLink }) | safe }}</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
