---js
const eleventyNavigation = {
	key: "maps",
	order: 2,
	title: "nav.maps"
};

const title = "maps.title";
const intro = "maps.intro";
---
<h1>{{ t(title) }}</h1>
<p>{{ t(intro) }}</p>

{% set postslist = collections.map or collections.maps or [] %}
{% include "postslist.njk" %}
