---js
// <script>
const pagination = {
	data: "collections.tagList",
	size: 1,
	alias: "tag",
	// addAllPagesToCollections: true,
};

const eleventyExcludeFromCollections = true;

const eleventyComputed = {
	permalink: function(data) {
		return `/tags/${this.slugify(data.tag)}/`;
	}
};

const title = "tags.taggedTitle";
---
<h1>{{ t(title, { tag: tag }) }}</h1>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

{% set allTagsLink %}<a href="tags.njk">{{ t("tags.allTagsLink") }}</a>{% endset %}
<p>{{ t("tags.viewAll", { allTagsLink: allTagsLink }) | safe }}</p>
