---js
const eleventyNavigation = {
	key: "tales",
	order: 1,
	title: "nav.tales"
};

const title = "tales.title";
---
<h1>{{ t(title) }}</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
