<ol reversed class="postlist">
{%- for post in postslist | reverse %}
	<li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
		{%- set postTitle = post.data.title or post.url %}
		{%- set thumbSrc = post | resolveThumb %}
		{%- if thumbSrc %}
		<a href="{{ post.url }}" class="postlist-thumb">
			<img
				src="{{ thumbSrc }}"
				alt="{{ postTitle }}"
				loading="lazy"
				decoding="async"
				eleventy:widths="480,960,1920"
				sizes="(max-width: 40em) 100vw, 480px"
			>
		</a>
		{%- endif %}
		<div class="postlist-body">
			<a href="{{ post.url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
			{%- if post.data.description %}
			<p class="postlist-description">{{ post.data.description }}</p>
			{%- endif %}
			<time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("yyyy-MM-dd") }}</time>
		</div>
	</li>
{%- endfor %}
</ol>
